<div class="container my-3">
    <div>
        <h3>Heading</h3>
    </div>
    
    <div class="row">
        <div class="col-12 px-3">
            <app-filter-categories></app-filter-categories>
        </div>
    </div>
    <div class="row">
        <div class="col-12 px-3">
            <app-filter-price-range></app-filter-price-range>
        </div>
    </div>
    <div class="row">
        <div class="col-12 px-3">
            <app-filter-brand></app-filter-brand>
        </div>
    </div>
</div>
