<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="/assets/img/terms.jpg" alt="First slide">
      </div>
    </div>
  </div>
  <div class="main">
    
    <div id="content">
    <div class="about-section paddingTB60">
    
        <div class="row">
            
                <div class="about-title clearfix">
                    
<h3>Terms for Rental</h3>
<ol>
<li>You have received the goods / equipment in perfect and working condition in all respects. In case of any breakdown / damage / theft / loss of the goods/equipment, you shall be responsible to replace / repair the goods/equipment at your cost within 72 hours. You shall continue to pay us rent for the equipment until the equipment is returned to us.</li>
<li>Payment terms: Within 24 hours of using our service.</li>
<li>We shall have complete rights to take back the goods / equipment from you without notice.</li>
<li>Goods/Equipment lying in your premises, shooting location or any other place shall be at your risk & responsibility. For goods / equipment being taken outstation the goods/equipment shall be your responsibility the moment the goods/equipment leaves our premises.</li>
<li>Cancellation of booking shall be charged at 1 (one) shift.</li>
<li>Conveyance, Attendant, service tax will be charged extra.</li>
<li>Our decision shall be final in all matters</li>
<li>Pictures shown on the site are for representative purpose only & may differ</li>
<li>We shall not be liable for Loss of footage from the recording media or any other reason whatsoever.</li>
<li>We shall not be liable for any claim for any damages to any of your material being used in conjunction with our equipment.</li>
</ol>
<h3>Terms of Use</h3>
<ol>
         <li>As a user you may be permitted to access the information available on this site, you are restricted from distributing this information for free or otherwise to any other person or entity. You are not allowed to modify, copy, distribute, transmit, display, reproduce, publish, license, sell or transfer any information contained in this site.</li>
         <li>This site and the information contained herein is for the use of people above the age of 15 yrs. If you are below the age as mentioned hereinbefore, then you shall cause to access this site only with help and assistance of any parent or legal guardian.</li>
         <li>Camerent reserves the right to cancel subscriptions, terminate accounts without giving any notice, at its sole discretion. You shall be governed by the terms and conditions of this site</li>
         <li>All third party logos of companies, products etc are the property of the right /Trade mark holders &Laxmi rental solutions Pvt. Ltd. has no claim over them whatsoever</li>
         <li>Articles and views published on the site from time to time are the opinions of the authors. Laxmi rental solutions Pvt. Ltd. may or may not subscribe to those views and are not liable for the same</li>
         <li>It is understood that by accessing the site you have gone through the “DISCLAIMER” and the privacy policy and you understand and agree to whatever is stated therein.</li>
         
         </ol>

     
        </div>       
    </div>	


</div>
  
</div>                 
</div>         
