<div class="containter">
    <!--Heading  -->
    <div class="row mt-3">
        <div class="col">
            <h2 class="headings text-center"><u>Dashboard</u></h2> 
        </div>
    </div>
    <!-- First row dashboard -->
    <div class="row mt-4 ">
        <div class="col-md-4 mt-2 d-flex justify-content-center">
            
            <div class="" style="width: 18rem;">
                <div class=" p-4 rounded " style="background-color:#70e000;">
                    <h3 class="text-center text-capitalize">total order amount</h3>
                    <h2 class="text-center">$5646</h2>
                </div>
              </div>
        </div>
        <div class="col-md-4 mt-2 d-flex justify-content-center">
            
            <div class="" style="width: 18rem;">
                <div class=" p-4 rounded" style="background-color:#00b4d8;">
                    <h3 class="text-center text-capitalize">total order amount</h3>
                    <h2 class="text-center">$5646</h2>
                </div>
              </div>
        </div>
        <div class="col-md-4 mt-2 d-flex justify-content-center">
            
            <div class="" style="width: 18rem;">
                <div class=" p-4 rounded" style="background-color:#ffba08;">
                    <h3 class="text-center text-capitalize">total order amount</h3>
                    <h2 class="text-center">$5646</h2>
                </div>
              </div>
        </div>
    </div>
    <!-- **** -->



    <!-- Secondrow -->
    <div class="row mt-5">
        <div class="col-md-3 mt-2 d-flex justify-content-center">
            
            <div class="" style="width: 12rem;">
                <div class=" p-2 rounded" style="background-color:#560bad;">
                    <h4 class="text-center text-capitalize">total order amount</h4>
                    <h3 class="text-center">$5646</h3>
                </div>
              </div>
        </div>
        <div class="col-md-3 mt-2 d-flex justify-content-center">
            
            <div class="" style="width: 12rem;">
                <div class=" p-2 rounded" style="background-color:#05d3c9;">
                    <h4 class="text-center text-capitalize">total order amount</h4>
                    <h3 class="text-center">$5646</h3>
                </div>
              </div>
        </div>
        <div class="col-md-3 mt-2 d-flex justify-content-center">
            
            <div class="" style="width: 12rem;">
                <div class=" p-2 rounded" style="background-color:#52b69a;">
                    <h4 class="text-center text-capitalize">total order amount</h4>
                    <h3 class="text-center">$5646</h3>
                </div>
              </div>
        </div>
        <div class="col-md-3 mt-2 d-flex justify-content-center">
            
            <div class="" style="width: 12rem;">
                <div class=" p-2 rounded" style="background-color:#dc2f02;">
                    <h4 class="text-center text-capitalize">total order amount</h4>
                    <h3 class="text-center">$5646</h3>
                </div>
              </div>
        </div>
    </div>
    <!-- *** -->
    
</div>
