
*{
    color:var(--darkText);
    font-family: 'Poppins', sans-serif;
    

}
.card{
    cursor: pointer;
    background:var(--accent-color) !important;
}
h2 {
    /* color: white; */
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0 50px;
    /* font-family: "Times New Roman", Times, serif; */
}

.card.hover, .card:hover{
    box-shadow: 0 20px 40px rgba(230, 230, 230, 0.2)
}
.img{
    display: initial !important;
    margin: 35px 35px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222)
}
.card-title{
    font-weight: 600;
    color: white;
    font-size: 15px;
}
