<div class="container-lg">
	<div class="row">
		<div class="col-md-12">
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<!-- Carousel indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>   
				<!-- Wrapper for carousel items -->
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="/assets/img/slide1.jpg"  class="img-fluid" alt="Notebook">
						<div class="carousel-caption">
							<h3>camera rentals</h3>
							<p>we provide you with wide selection of Equipments</p>
							<div class="carousel-action">
								<a href="#" class="btn btn-primary">Learn More</a>
								<!-- <a href="#" class="btn btn-success">Try Now</a> -->
							</div>
						</div>
					</div>	
					<div class="carousel-item">
						<img src="/assets/img/slide2.jpg"  class="img-fluid" alt="Tablet">
						<div class="carousel-caption">
							<h3>We rent you capture!</h3>							
							<p>A wide range of Verified Rental Products, from multiple vendors & location.</p>
							<div class="carousel-action">
								<a href="#" class="btn btn-primary">Learn More</a>
								<!-- <a href="#" class="btn btn-success">Try Now</a> -->
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<img src="/assets/img/slide3.jpg" class="img-fluid" alt="Workstation">
						<div class="carousel-caption">
							<h3>capture the moment</h3>
							<p>Everything you want,shipped to your door!</p>
							<div class="carousel-action">
								<a href="#" class="btn btn-primary">Learn More</a>
								<!-- <a href="#" class="btn btn-success">Try Now</a> -->
							</div>
						</div>
					</div>	
				</div>
				<!-- Carousel controls -->
				<a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
					<i class="fa fa-angle-left"></i>
				</a>
				<a class="carousel-control-next" href="#myCarousel" data-slide="next">
					<i class="fa fa-angle-right"></i>
				</a>
			</div>
		</div>
	</div>
</div>
<app-about></app-about>
<app-product></app-product>
<app-category></app-category>
<app-review></app-review>