/* .bg{background: black !important;} */
*{
	color:black;
	font-family: 'Poppins', sans-serif!important;
}
.carousel-caption {
    top: 34%;
    
}
.welcomeBanner{
	font-size: xx-large;
	letter-spacing: 4px;
}
.carousel-action {
	padding: 10px 0 30px;
}
.carousel-action .btn {
	min-height: 34px;
	border-radius: 0;
	margin: 3px;
	min-width: 150px;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
}
.carousel-action .btn-primary {
	border-color: var(--accent-color);
	background-color: var(--accent-color);
	border: 3px solid var(--accent-color);
	color: white;
	border-radius: 10px;
	letter-spacing: 4px;
}
.carousel-action .btn-primary:hover {
	background: var(--accent-color);
	transform: scale(1.1);
	color: #fff;
}
.carousel-indicators li {
    background-color: grey;
}
.carousel-indicators .active {
    background-color: var(--accent-color);
}