<div class="container">
    <!--Heading  -->
    <div class="row mt-3">
        <div class="col">
            <h2 class="headings text-center"><u>Staffs</u></h2> 
        </div>
    </div>
    
    <!-- Forms for serching the Orders -->
    <form>
    
        <div class="row my-4 py-4 px-1 component-color rounded">
            
            <div class="col-lg-3 form-group">
                <input type="text" class="form-control" id="searchID" placeholder="Search by ID">
            </div>
            <!-- Dropdown for order status -->
            <div class="col-lg-3 form-group dropdown">
                <button class="btn bg-light text-secondary dropdown-toggle w-100 text-left" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown button
                  </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
            </div>
            <!-- Dropdown for filtering days -->
            <div class="col-lg-3 form-group dropdown">
                <button class="btn bg-light text-secondary dropdown-toggle w-100 text-left" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown button
                  </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
            </div>
            <div class="col-lg-3">
                <button type="submit" class="btn bg-primary text-white w-100">Submit</button>
            </div>
            

        </div>
    </form>
</div>


<div class="container">
    <table class="table table-light">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
</div>