<div class="container-fluid" style="min-height: 100vh;">
    <div class="row my-3">
        <div class="col-md-6 " style="height: 500px;">
           <app-product-img-carousel [product]="SingleProdList"></app-product-img-carousel> 
        </div>
        <div class="col-md-6 pl-3 " style="height: 500px;">
            <app-product-right-text [pId]="pId" [pname]="pname" [pShortDesc]="pShortDesc" [pPrice]="pPrice"></app-product-right-text> 
         </div>
    </div>
    <div class="row">
        <div class="col-12  descSec">
            <div class="row h-100 ">
                <div class="col"></div>
                <div class="col-10  descCard">
                    <div class=" my-4">
                        <h2 class="heading border-bottom px-3 pb-2">Description</h2>
                        <p>{{SingleProdList?.desc}}</p>
                    </div>
                    
                </div>
                <div class="col"></div>
            </div>

        </div>
    </div>
</div>

