<div class="row h-100" style="overflow: hidden;">
    <div class="col-2 px-0 pl-1 py-3 sideImgNav" >
        <ul class="p-0 mr-1 rounded" *ngFor="let i of array" >
            <li class="sideImg p-2"><img (mouseenter)="mouseenter(i.imgurl,mainImg)" src="assets/productImg/{{i.imgurl}}" class="rounded" alt="" width="100%" height="70px" style="object-fit:scale-down;"></li>
        </ul>
    </div>
    <div class="col-10 py-3 my-2 mainImg" style="height: 500px;" >
        <img src="assets/productImg/{{array[0].imgurl}}" #mainImg class="rounded" alt="" width="100%" height="100%" style="object-fit:contain;">
    </div>
</div>