<div class="row h-100 side" >
    <div class="col-2 px-1 py-3 sideImgNav" >
        <ul class=" m-0 p-0 pb-2  rounded" *ngFor="let i of product?.imagesUrl" >
            <li class="sideImg p-2 listStyle"><img (mouseenter)="mouseenter(i,mainImg)" src="{{i}}" class="rounded" alt="" width="100%" height="70px" style="object-fit:scale-down;"></li>
        </ul>
    </div>
    <div class="col-10 py-3 my-2 mainImg d-flex" style="height: 500px;" >
        <img src="{{product?.imagesUrl[0]}}" #mainImg class="rounded" alt="" width="100%" height="100%" style="object-fit:contain;">
    </div>
</div>