.mainImg{
    background-color: white;
}
.sideImg{
    background-color: white;
}

.listStyle:hover{
    border: 1px;
    /* border-style: solid; */
    /* color: var(--nav-color); */
    border-radius: 3px;
    box-shadow: 0px 0px 4px var(--nav-color);
}