<div>
    <h4 >Address form</h4> 
</div>
  
<div>
  
    <form #form="ngForm" (ngSubmit)="save()">
  
      <div class="form-group">
  
        <label class="text-strong">address line 1 :</label>
        <input  #addressLine1="ngModel" [(ngModel)]="address.line1" type="text" name="addressLine1"  
         class="form-control form-control-sm">
  
      </div>
  
      <div class="form-group">
  
        <label class="text-strong">address line 2 :</label>
  
        <input  #addressLine2="ngModel" [(ngModel)]="address.line2" type="text" name="addressLine2" ng="addressLine2" 
         class="form-control form-control-sm">
  
      </div>
  
      <div class="form-group">
  
        <label class="text-strong">zip code :</label>
  
        <input #zipCode="ngModel" type="number" name="zipCode" [(ngModel)]="address.zipCode" 
         class="form-control form-control-sm" >
  
      </div>
  
      <div class="form-group">
  
        <label class="text-strong">city :</label>
  
        <input type="text" name="city" #city="ngModel" [(ngModel)]="address.city"
         class="form-control form-control-sm">
  
      </div>
  
    </form>
  
  </div>
  
<div >
  
<button type="button" class="btn btn-outline-dark" [disabled]="form.invalid" >Save</button>
  
</div>