<div class="row top-fliter component-color">

    <ul class="row w-100 my-auto d-flex justify-content-center">
        <li><h4 class="d-inline pr-4">SortBy :</h4></li>
        <li class="d-inline nav-filter-link  pr-4"><a>Newest First</a></li>
        <li class="d-inline nav-filter-link  pr-4"><a (click)="lowTohigh()" >Low to high</a></li>
        <li class="d-inline nav-filter-link  pr-4"><a (click)="highTolow()">High to low</a></li>
        <li class="d-inline  nav-filter-link pr-4"><a>Popular</a>
    </ul>
    
    
    
</div>
