<div class="row top-fliter body-color">
    <!-- <div class="col-1"></div>
    <div class="col d-flex align-items-center ">
        <h4 class="nav-filter-link text-center m-0 w-100">SortBy :</h4>
    </div>
    <div class="col d-flex align-items-center">
        <p class="nav-filter-link text-center">Newest First</p>
    </div>
    <div class="col d-flex align-items-center">
        <p class="nav-filter-link text-center">Low to High</p>
    </div>
    <div class="col d-flex align-items-center">
        <p class="nav-filter-link text-center">High to low</p>
    </div>
    <div class="col d-flex align-items-center">
        <p class="nav-filter-link text-center">Popularity</p>
    </div>
    <div class="col-1"></div> -->

    <ul class="row w-100 my-auto d-flex justify-content-center">
        <li><h4 class="d-inline pr-4">SortBy :</h4></li>
        <li class="d-inline pr-4"><a>Newest First</a></li>
        <li class="d-inline pr-4"><a>Low to high</a></li>
        <li class="d-inline pr-4"><a>High to low</a></li>
        <li class="d-inline pr-4"><a>Popular</a></ul>
    
    
    
</div>
