<div class="row top-fliter body-color">
    <div class="col d-flex align-items-center ">
        <h4 class="nav-filter-link text-center m-0 w-100">SortBy :</h4>
    </div>
    <div class="col d-flex align-items-center">
        <p class="nav-filter-link text-center">Newest First</p>
    </div>
    <div class="col d-flex align-items-center">
        <p class="nav-filter-link text-center">Low to High</p>
    </div>
    <div class="col d-flex align-items-center">
        <p class="nav-filter-link text-center">High to low</p>
    </div>
    <div class="col d-flex align-items-center">
        <p class="nav-filter-link text-center">Popularity</p>
    </div>
    <div class="col-4"></div>
    
    
    
</div>
