*{
    color: rgb(22, 22, 22);
    
}
.con,h3{
    font-family: 'Poppins', sans-serif;
}

.title{
    letter-spacing: 6px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}
.shortDescText{
    letter-spacing: 2.8px;
    font-family: 'Poppins', sans-serif;
}
.shedulebtn{
    border-radius: 48px;
    padding: 12px 36px;
    font-family: 'Poppins', sans-serif;
}
input[type=date]{
    background-color: #c7c7c7;
    padding: 3px 10px;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
} 
.star-rating i {
    font-size: 14px;
    color: #ffc000;
}