<div class="d-block mt-3 py-3 h-100">
    <h1 class="title">Canon EOS 5000D</h1>
    <mat-divider></mat-divider>
    <div class="mt-4">
        <h1 class=" pr-3 d-inline">$121/day</h1><h2 class="mt-4 d-inline font-weight-normal"><del class="text-secondary">$132/day</del> </h2>
        <p class="shortDescText mt-4"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
    <div>
    
    <button class="btn bg-primary text-white mt-5 " data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Rent the Product for $121/day</button>
    <div class="collapse" style="z-index: 3;" id="collapseExample">
        <div class="card card-body">
          <h3 class="title">Schedule the pickup </h3>
          <mat-divider></mat-divider>
          
          
        </div>
    </div>
</div>