*{
    color: rgb(22, 22, 22);
    font-family: 'Poppins', sans-serif;
}

.title{
    letter-spacing: 6px;
    font-weight: 300;
}
.shortDescText{
    letter-spacing: 2.8px;
}
.shedulebtn{
    border-radius: 48px;
    padding: 12px 36px;
}
input[type=date]{
    background-color: grey;
    padding: 3px 10px;
    border-radius: 8px;
} 