.nav-link:hover{
    color: rgba(255, 255, 255, 0.363);
    transform: scale(0.9);   
}


.body{
   background: rgb(181,7,7);
background: linear-gradient(201deg, rgba(181,7,7,1) 0%, rgba(1,1,9,1.7679446778711485) 100%, rgba(40,0,0,1) 100%);
}

.nav-link{
    color: white;
    font-size: 14px;
}

.cart:hover{
    transform: scale(1.4);
}

.active{
    background-color: var(--component-color);
} 

.dropdown-item{
    font-size: 13px;
}
.dropdown-item:hover{
    background-color: var(--component-color);
    color:gray;
}



/**************** media query *******************/

@media only screen and (max-width: 600px) { 
    .navbar-brand{
                padding-left: 10px!important;
        }
    }