
    <nav *ngIf="!_auth.adminIn()" class=" navbar navbar-expand-lg container-fluid body nav-color text-white py-4  ">
        <a class="navbar-brand pl-5 " routerLink="home">Camarent</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <img src="assets/Main Navbar/burgerMenu.png" alt="" width="40px">
        </button>
        <div class="collapse navbar-collapse pr-5 mr-4" id="navbarNav">
          <ul class="navbar-nav ml-auto pr-2" >
            <li class="nav-item pr-1 " >
              <a class="nav-link " routerLink="home">Home</a>
            </li>
            <!-- dropdown for camera -->
            <!-- <div class="dropdown pr-1">
              <a class=" nav-link dropdown-toggle" style="cursor: pointer;" id="cameraHeading" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" routerLink="/products" >
                Camera's
              </a>
              <div class="dropdown-menu " aria-labelledby="cameras-list">
                <button class="dropdown-item active" routerLink="/products" type="button">Action</button>
                <button class="dropdown-item" routerLink="/products" type="button">Another action</button>
                <button class="dropdown-item" routerLink="/products" type="button">Something else here</button>
              </div>
            </div> -->

            <!-- dropdown for accesories-->
            <!-- <div class="dropdown pr-1">
              <a class=" nav-link dropdown-toggle" style="cursor: pointer;" id="accesoriesHeading" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu " aria-labelledby="accesories-list">
                <button class="dropdown-item" routerLink="/products" type="button">Action</button>
                <button class="dropdown-item" routerLink="/products" type="button">Another action</button>
                <button class="dropdown-item" routerLink="/products" type="button">Something else here</button>
                <button class="dropdown-item" routerLink="/products" type="button">Action</button>
                <button class="dropdown-item" routerLink="/products" type="button">Another action</button>
                <button class="dropdown-item" routerLink="/products" type="button">Something else here</button>
                <button class="dropdown-item" routerLink="/products" type="button">Action</button>
                <button class="dropdown-item" routerLink="/products" type="button">Another action</button>
                <button class="dropdown-item" routerLink="/products" type="button">Something else here</button>
                <button class="dropdown-item" routerLink="/products" type="button">Action</button>
                <button class="dropdown-item" routerLink="/products" type="button">Another action</button>
                <button class="dropdown-item" routerLink="/products" type="button">Something else here</button>
              </div>
            </div> -->
            <!-- Products -->
            <li class="nav-item  pr-1" >
              <a class="nav-link" routerLink="products">All Products</a>
            </li>
            <!-- Terms -->
            <li class="nav-item  pr-1" >
              <a class="nav-link" routerLink="terms">Terms & Condition</a>
            </li>
            <!-- About -->
            <li class="nav-item  pr-1" >
              <a class="nav-link" routerLink="about">About</a>
            </li>
            <!-- User-->
            <li class="nav-item  pr-1" >
              <a class="nav-link" *ngIf="_auth.loggedIn()" routerLink="user">Dashboard</a>
            </li>
            <!-- login -->
            <li class="nav-item  pr-1" >
              <a class="nav-link" href="#" *ngIf="!_auth.loggedIn()" (click)="openModal($event)">Login/Signup</a>
            </li>
            <!-- logout -->
             <li class="nav-item  pr-1" >
              <a class="nav-link" href="#" *ngIf="_auth.loggedIn()"(click)="logoutUser($event)" >Logout</a>
            </li>
            
          </ul>
          <!-- cart Icon -->
          <a class="cart" routerLink="cart"><img src="/assets/Main Navbar/cart.png" width="30px" alt="cart"></a>
          
        </div>
      </nav>
      

