.nav-link:hover{
    
    transform: scale(0.9);   
}




.cart:hover{
    transform: scale(1.4);
}

.active{
    background-color: var(--component-color);
}



/**************** media query *******************/

@media only screen and (max-width: 600px) { 
    .navbar-brand{
                padding-left: 10px!important;
        }
    }