.nav-link:hover{
    color: rgba(255, 255, 255, 0.363);
    transform: scale(0.9);   
}


.body{background: black !important;}
.nav-link{
    color: white;
    font-size: 17px;
}

.cart:hover{
    transform: scale(1.4);
}

.active{
    background-color: var(--component-color);
} 

.dropdown-item{
    font-size: 13px;
}
.dropdown-item:hover{
    background-color: var(--component-color);
    color:gray;
}



/**************** media query *******************/

@media only screen and (max-width: 600px) { 
    .navbar-brand{
                padding-left: 10px!important;
        }
    }