/* You can add global styles to this file, and also import other style files */
p,h1,h2,h3,h4,h5,h6,label{
    color:white;
}

.headings{
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 4px;
}
/* universal */
.rounded {
    border-radius: 5px;
}

.body-color {
    background-color: rgb(42, 42, 46);
}

.container-color {
    background-color: rgba(27, 29, 33, 1);
}
.active{
    background-color: rgb(110, 110, 110);
  padding: 3px;
}