<div class="container">
  <!--Heading  -->
  <div class="row mt-3">
    <div class="col">
      <h2 class="headings text-center"><u>Products</u></h2>
    </div>
  </div>

  <!-- Forms for serching the Orders -->


  <div class="row my-4 py-4 px-1 component-color rounded">

    <div class="col-lg-4 form-group">
      <input type="text" class="form-control" id="searchID" placeholder="Search by ID" [(ngModel)]="searchbyid"  >
    </div>
    <!-- Dropdown for order status -->
    <div class="col-lg-4 form-group dropdown">
      <input type="text" class="form-control" id="searchName" #name (keyup)="searchFilter(name)" placeholder="Search by Name" [(ngModel)]="searchbyname"  >
    </div>
    <!-- Dropdown for filtering days -->
    <div class="col-lg-4 form-group dropdown">
      <input type="text" class="form-control" id="searchCategory" #category (keyup)="searchFilter(category)" placeholder="Search by Category" [(ngModel)]="searchbycat"  >
    </div>  



    <!--****************** Model for adding products********************* -->
    <div class="col-12 d-flex justify-content-center">
      <app-add-products-modal></app-add-products-modal>
    </div>
    <!-- ***************************************************** -->


  </div>
</div>

<!-- Table  -->
<div class="container" style="overflow:scroll; max-height:500px">
  <button class="btn bg-success text-white float-right mb-2" (click)="refresh()" >Refresh data</button>
  <table class="table table-light">
    <thead>
      <tr>
        <th scope="col">#id</th>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Price</th>
        <th scope="col">ShortDesc</th>
        <th scope="col">Desc</th>
        <th scope="col">ImgURL</th>
        <th scope="col">Brand</th>
        <th scope="col">Update/Delete</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of productsList">
        <ng-container *ngIf=" searchbyid==='' || i.id.includes(searchbyid)"  >
          <th scope="row">{{i.id}}</th>
          <td>{{i.name}}</td>
          <td>{{i.category}}</td>
          <td>{{i.price}}</td>
          <td>{{i.shortDesc}}</td>
          <td>{{i.desc}}</td>
          <td>{{i.imgUrl}}</td>
          <td>{{i.brand}}</td>
          <td><button class="btn bg-success text-white w-100" data-toggle="modal" data-target=".UpdateModel" (click)="updatefun(i)" >Update</button><button class="btn bg-danger text-white w-100 mt-1" (click)="deleteFunc(i._id)" >Delete</button></td>
        </ng-container>
        
      </tr>

    </tbody>
  </table>
  
    <!-- Button trigger modal -->
    <!-- <button type="button" class="btn bg-success text-white" data-toggle="modal" data-target=".bd-example-modal-lg">
      Add Products</button> -->
    

      <!-- Update Modal -->
    <div class="modal fade UpdateModel" tabindex="-1" id="modelID" role="dialog" aria-labelledby="myLargeModalLabel"
      aria-hidden="true">
      <app-update-product-modal [singleData]="updateItem"></app-update-product-modal>
    </div>
  
</div>