
    <!-- Button trigger modal -->
    <button type="button" class="btn bg-success text-white" data-toggle="modal" data-target=".bd-example-modal-lg">
      Add Products</button>
    
    <div class="modal fade bd-example-modal-lg" tabindex="-1" id="modelID" role="dialog" aria-labelledby="myLargeModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title text-dark" id="exampleModalLongTitle">Add products</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <form #addProductForm="ngForm" (ngSubmit)="add(addProductForm)">
          <div class="modal-body">
            
            <div class="row">
              <div class="form-group col-lg-12">
                <label for="productId">Product ID</label>
                <input type="text" required class="form-control" name="productId" ngModel id="productId" placeholder="Enter product ID">
              </div> 
              <div class="form-group col-lg-6">
                <label for="productName">Product name</label>
                <input type="text" required class="form-control" name="productName" ngModel id="productName" placeholder="Enter product name">
              </div>
              <div class="form-group col-lg-6">
                <label for="productPrice">Product Price</label>
                <input type="number" required class="form-control" name="productPrice" ngModel id="productPrice" placeholder="Enter product Price">
              </div>
              <div class="form-group col-lg-6">
                <label for="productCategory">Category</label>
                <input type="text" required class="form-control" name="productCategory" ngModel id="productCategory" placeholder="Enter product Category">
              </div>
              <div class="form-group col-lg-6">
                <label for="productBrand">Product Brand</label>
                <input type="text" required class="form-control" name="productBrand" ngModel id="productBrand" placeholder="Enter product Brand">
              </div>
              <div class="col-lg-6">
                <div class="row">
                    <div class="form-group col-12">
                        <label for="imgUrl" class="w-100 mb-2">Image Upload</label>
                        <input type="file" required name="imgUrl" ngModel id="imgUrl" accept="image/*" multiple (change)="change($event)">
                      </div>
                      <div class="form-group col-12">
                        <label for="shortDesc">Short Description</label>
                        <textarea class="form-control" required name="shortDesc" ngModel id="shortDesc" rows="3"></textarea>
                      </div>
                </div>
              </div>
              
              <div class="form-group col-lg-6">
                <label for="longDesc">Detailed Description</label>
                <textarea class="form-control" required ngModel name="longDesc" id="longDesc" rows="6"></textarea>
              </div>
            </div>  
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn bg-secondary text-white" data-dismiss="modal">Close</button>
            <button type="submit" class="btn bg-primary text-white">Add to database</button>
          </div>
        </form>

        </div>
      </div>
    </div>
  