.sidenav-small{
  
    height: 100%;
    width: 60px!important;
    margin: 5px;
    /* overflow: hidden; */
    padding: 4px;
    
  }
  .smallicon:hover{
    background-color: var(--nav-color);
    padding: 3px;
  }

  .Active{
    background-color: var(--nav-color);
  padding: 3px;
  } 