<!-- sidenav -->
<div class=" sidenav-small rounded container-color">

    <div #dash id="dash" class="smallicon rounded my-3 mx-1 Active">
      <a routerLink="/admin-dashboard" ><img class="" src="assets/admindash/sidenav_Nav/dashboard.png" width="100%" style="padding: 6px;"></a>

    </div>
    <div #order id="order" class="smallicon rounded my-3 mx-1 ">
      <a routerLink="orders" (click)="Aclick(order)" >
        <img class="" src="assets/admindash/sidenav_Nav/products.png" width="100%" style="padding: 6px;" >
      </a>
      
    </div>
    <div #products id="products" class="smallicon rounded my-3 mx-1 ">
      <a routerLink="products" >
        <img class="" src="assets/admindash/sidenav_Nav/category.png" width="100%" style="padding: 6px;" >
      </a>
    </div>
    <div #customers id="customers" class="smallicon rounded my-3 mx-1">
      <a routerLink="customers" >
        <img class="" src="assets/admindash/sidenav_Nav/customers.png" width="100%" style="padding: 6px;" >
      </a>
      
    </div>
    <div #staff id="staff" class="smallicon rounded my-3 mx-1">
      <a routerLink="staff" >
        <img class="" src="assets/admindash/sidenav_Nav/staff.png" width="100%" style="padding: 6px;" >
      </a>
      
    </div>
    <div #setting id="setting" class="smallicon rounded my-3 mx-1">
      <a routerLink="settings" >
        <img class="" src="assets/admindash/sidenav_Nav/setting.png" width="100%" style="padding: 6px;" >
      </a>
      
    </div>
    
    
    
  </div>
