<div class="container mt-100">
    <h2><b>Shop By Category</b> </h2>
     <div class="row">
<div class="col-md-4 col-sm-6">
<div class="card mb-30"><a class="card-img-tiles" href="#" data-abc="true">
<div class="inner">
<div class="main-img"><img src="/assets/img/dslr2.jpg" alt="Category" height="200px"></div>
<div class="thumblist"><img src="/assets/img/dslr1.jpg" alt="Category"><img src="/assets/img/dslr3.jpg" alt="Category"></div>
</div></a>
<div class="card-body text-center">
<h4 class="card-title">DSLR</h4>
<p class="text-muted">Starting from Rs.499</p><a class="btn btn-outline-primary btn-sm" href="#" data-abc="true">View Products</a>
</div>
</div>
</div>
<div class="col-md-4 col-sm-6">
<div class="card mb-30"><a class="card-img-tiles" href="#" data-abc="true">
<div class="inner">
<div class="main-img"><img src="/assets/img/mirrorless1.jpg" alt="Category" height="200px"></div>
<div class="thumblist"><img src="/assets/img/mirrorless2.jpg" alt="Category"><img src="/assets/img/mirrorless3.jpg" alt="Category"></div>
</div></a>
<div class="card-body text-center">
<h4 class="card-title">Mirrorless Camera</h4>
<p class="text-muted">Starting from Rs.499</p><a class="btn btn-outline-primary btn-sm" href="#" data-abc="true">View Products</a>
</div>
</div>
</div>
<div class="col-md-4 col-sm-6">
<div class="card mb-30"><a class="card-img-tiles" href="#" data-abc="true">
<div class="inner">
<div class="main-img"><img src="/assets/img/action1.jpg" alt="Category" height="200px"></div>
<div class="thumblist"><img src="/assets/img/action2.jpeg" alt="Category"><img src="/assets/img/action3.jpg" alt="Category"></div>
</div></a>
<div class="card-body text-center">
<h4 class="card-title">Action Camera</h4>
<p class="text-muted">Starting from Rs.599</p><a class="btn btn-outline-primary btn-sm" href="#" data-abc="true">View Products</a>
</div>
</div>
</div>
</div>
</div>