*{
    font-family: 'Poppins', sans-serif!important;
}

h2 {
	color: var(--darkText);
	font-size: 30px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0 50px;
    font-family: 'Poppins', sans-serif!important;
	letter-spacing: 4px;
}
.row {
	margin: 50px auto;
	padding: 0 70px;
}
.mt-100{
margin-top: 100px;
}
.card {
    border-radius: 7px !important;
    /* height: 290px; */
    background-color: white!important;
}
h4,p{
    color: var(--darkText);
}
.mb-30 {
    margin-bottom: 30px !important;
}

.card-img-tiles {
    display: block;
    /* border-bottom: 1px solid #212120; */
}

a {
    color: white;
    text-decoration: none !important;
}

.card-img-tiles>.inner {
    display: table;
    width: 100%;
}

.card-img-tiles .main-img, .card-img-tiles .thumblist {
    display: table-cell;
    width: 65%;
    padding: 15px;
    vertical-align: middle;
}

.card-img-tiles .main-img>img:last-child, .card-img-tiles .thumblist>img:last-child {
    margin-bottom: 0;
}

.card-img-tiles .main-img>img, .card-img-tiles .thumblist>img {
    display: block;
    width: 100%;
    margin-bottom: 6px;
}
.thumblist {
    width: 35%;
    /* border-left: 1px solid#212120!important; */
    display: table-cell;
    width: 65%;
    padding: 15px;
    vertical-align: middle;
}



.card-img-tiles .thumblist>img {
    display: block;
    width: 100%;
    margin-bottom: 6px;
}
.btn-group-sm>.btn, .btn-sm {
    padding: .45rem .5rem !important;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.btn{
	background-color: var(--accent-color);
}
.btn:hover{
	background-color: var(--accent-color);
	transform: scale(1.1);
    color: white;
	
}
