<div class="container mt-100">
    <h2><b>Shop By Category</b> </h2>
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="card mb-30"><a class="card-img-tiles" data-abc="true">
                    <div class="inner">
                        <div class="main-img"><img src="/assets/productImg/cam2.jpeg" alt="Category" height="200px"></div>
                        <div class="thumblist"><img src="/assets/productImg/cam5.jpeg" alt="Category"><img
                                src="/assets/productImg/cam6.jpeg" alt="Category"></div>
                    </div>
                </a>
                <div class="card-body text-center">
                    <h4 class="card-title">DSLR</h4>
                    <p class="text-muted">Starting from Rs.499</p><a class="btn  btn-sm" routerLink="/products"
                        data-abc="true">View Products</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card mb-30"><a class="card-img-tiles" data-abc="true">
                    <div class="inner">
                        <div class="main-img"><img src="/assets/productImg/mir1.jpeg" alt="Category" height="200px">
                        </div>
                        <div class="thumblist"><img src="/assets/productImg/mir2.jpeg" alt="Category"><img
                                src="/assets/productImg/mir3.jpeg" alt="Category"></div>
                    </div>
                </a>
                <div class="card-body text-center">
                    <h4 class="card-title">Mirrorless Camera</h4>
                    <p class="text-muted">Starting from Rs.499</p><a class="btn  btn-sm" routerLink="/products"
                        data-abc="true">View Products</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card mb-30">
                <a class="card-img-tiles"  data-abc="true">
                    <div class="inner">
                        <div class="main-img"><img src="/assets/productImg/act1.jpeg" alt="Category" height="200px"></div>
                        <div class="thumblist"><img src="/assets/productImg/act2.jpeg" alt="Category"><img
                                src="/assets/productImg/act3.jpeg" alt="Category"></div>
                    </div>
                </a>
                <div class="card-body text-center">
                    <h4 class="card-title">Action Camera</h4>
                    <p class="text-muted">Starting from Rs.599</p><a class="btn btn-sm" routerLink="/products"
                        data-abc="true">View Products</a>
                </div>
            </div>
        </div>
    </div>
</div>