<div class="container">
    <!--Heading  -->
    <div class="row mt-3">
        <div class="col">
            <h2 class="headings text-center"><u>Customers</u></h2> 
        </div>
    </div>
    
    <!-- Forms for serching the Orders -->
    
    
        <div class="row my-4 py-4 px-1 component-color rounded">
            
            <div class="col-lg-6 form-group">
                <input type="text" class="form-control"  [(ngModel)]="searchbyname" placeholder="Search by Name">
            </div>
            <!-- Dropdown for order status -->
            <div class="col-lg-6 form-group dropdown">
              <input type="text" class="form-control"  (keyup)="filterByAdrs()" [(ngModel)]='searchbyaddress' placeholder="Search by Address">
            </div>
            
        </div>
</div>


<div class="container" style="overflow:scroll; max-height:500px">
    <table class="table table-light">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">PhoneNumber</th>
            <th scope="col">Address</th>
            <th scope="col">Age</th>
            <th scope="col">Delete user</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of users">
            <ng-container *ngIf=" searchbyname==='' || i.name.includes(searchbyname)">
              <th scope="row">{{1+users.indexOf(i)}}</th>
              <td>{{i.name}}</td>
              <td>{{i.email}}</td>
              <td>{{i.phoneNumber}}</td>
              <td>{{i.address}}</td>
              <td>{{i.age}}</td>
              <td><button class="btn bg-danger text-white" (click)="userDelete(i._id)">Delete</button></td>
            </ng-container>
            
          </tr>
        </tbody>
      </table>
</div>