
<div class="container-fluid admin-page body-color">
  <div class="row ">
    <div class="col-12 container-color font-italic text-white py-3">
      <h4 class="d-inline">Admin Dashboard</h4>
      <a class="d-inline float-right" href=""> <img src="assets/admindash/sidenav_Nav/logout.png" alt="" width="20px"> </a>
    </div>
    
  </div>
  <div class="row admin-page-content">
    <div class=" sidenav-small rounded container-color">
      <div class="smallicon rounded my-3 mx-1">
        <a routerLink="dashboard" ><img class="" src="assets/admindash/sidenav_Nav/dashboard.png" width="100%" style="padding: 6px;"></a>

      </div>
      <div class="smallicon rounded my-3 mx-1">
        <a routerLink="products" >
          <img class="" src="assets/admindash/sidenav_Nav/products.png" width="100%" style="padding: 6px;" >
        </a>
        
      </div>
      <div class="smallicon rounded my-3 mx-1">
        <a routerLink="category" >
          <img class="" src="assets/admindash/sidenav_Nav/category.png" width="100%" style="padding: 6px;" >
        </a>
      </div>
      <div class="smallicon rounded my-3 mx-1">
        <a routerLink="orders" >
          <img class="" src="assets/admindash/sidenav_Nav/orders.png" width="100%" style="padding: 6px;" >
        </a>
        
      </div>
      <div class="smallicon rounded my-3 mx-1">
        <a routerLink="customers" >
          <img class="" src="assets/admindash/sidenav_Nav/customers.png" width="100%" style="padding: 6px;" >
        </a>
        
      </div>
      <div class="smallicon rounded my-3 mx-1">
        <a routerLink="staff" >
          <img class="" src="assets/admindash/sidenav_Nav/staff.png" width="100%" style="padding: 6px;" >
        </a>
        
      </div>
      <div class="smallicon rounded my-3 mx-1">
        <a routerLink="settings" >
          <img class="" src="assets/admindash/sidenav_Nav/setting.png" width="100%" style="padding: 6px;" >
        </a>
        
      </div>
      
      
      
    </div>
    <div class="col right-content rounded container-color">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>

