/* universal */
.rounded{
  border-radius: 5px;
}
.body-color{
  background-color: rgb(42, 42, 46);
}
.container-color{
  background-color: rgba(27, 29, 33, 1);
}

.admin-page{
  height:100vh;
  overflow: hidden;
}

.admin-page-content{
  height: calc(100vh - 40px);
  /* overflow: hidden; */
}

.sidenav-small{
  
  height: inherit;
  width: 60px!important;
  margin: 5px;
  /* overflow: hidden; */
  padding: 4px;
  
}
.smallicon:hover{
  background-color: rgb(110, 110, 110);
  padding: 3px;
}



/* right content */

.right-content{
  
  margin: 5px 10px 5px 5px;
}