
<div class="container-fluid  body-color">
  <div class="row ">
    <div class="col-12 nav-color font-italic text-white py-3">
      <h1 class="d-inline">Admin Dashboard</h1>
      <a routerLink="" class=" badge badge-success ml-3 px-2">Website</a>
      <a class="d-inline float-right logout mr-3" routerLink="" (click)="logout($event)"> <img src="assets/admindash/sidenav_Nav/logout.png" alt="" width="20px"> </a>
    </div>
    
  </div>
  <div class="container-fluid admin-page px-1 ">
    <div class="row admin-page-content">
      <!-- sidenav -->
      <app-admin-sidenav></app-admin-sidenav>
      <!-- *** -->
      <!-- Right contents -->
      <div class="col right-content rounded container-color">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  

</div>

