.admin-page{
  height:100vh;
  background-color: aquamarine;
}

.admin-page-nav{
  background-color: grey;
  color: white;
}

.admin-page-content{
  height: calc(100vh - 40px);
  overflow: hidden;
}

.sidenav-small{
  background-color: rgb(15, 182, 233);
  height: inherit;
  width: 50px!important;
  margin: 5px;
  overflow: hidden;
  
}


