
    
<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Admin Dashboard</a>
</nav>
<div class="container-fluid main-container mt-2"> 
    <div class="row h-100 ">
        <div class="col-3">
            <div class="slidenav bg-secondary text-white h-100">
                <ul>
                    <li>
                        <a href="">Dashboard</a>
                    </li>
                    <li>
                        <a href="">Dashboard</a>
                    </li>
                    <li>
                        <a href="">Dashboard</a>
                    </li>
                    <li>
                        <a href="" >Dashboard</a>
                    </li>
                    <li>
                        <a href="">Dashboard</a>
                    </li>
                </ul>
            </div>
        </div>
    </div> 
</div>
