<div class="flex flex-no-wrap">

    <!-- Sidebar starts -->
  <div style="height: 100vh" class="max-h-screen w-80 absolute sm:relative bg-stone-900 shadow md:h-full flex-col justify-betweenflex">
    <div class="px-8">
      <div class="h-16 w-full flex items-center">
        
      </div>
      <ul class="mt-12">
        <li class="flex w-full justify-between text-gray-300 hover:text-gray-400 cursor-pointer items-center mb-6">
          <div class="flex items-center">
            
            <span routerLink="/user" class="text-lg ml-2">Account Settings</span>
          </div>
        </li>
        <li class="flex w-full justify-between text-gray-300 hover:text-gray-400 cursor-pointer items-center mb-6">
          <div class="flex items-center">
           
            <span routerLink="myorders" class="text-lg ml-2">My Orders</span>
            
          </div>
        </li>
        <li class="flex w-full justify-between text-gray-300 hover:text-gray-400 cursor-pointer items-center mb-6">
          <div class="flex items-center">
           
            <span routerLink="address" class="text-lg ml-2">Address</span>
          </div>
        </li>
        <li class="flex w-full justify-between text-gray-300 hover:text-gray-400 cursor-pointer items-center mb-6">
          <div class="flex items-center">
           
            <span routerLink="proof-vali" class="text-lg ml-2">Proof Verification</span>
          </div>
        </li>
        <li class="flex w-full justify-between text-gray-300 hover:text-gray-400 cursor-pointer items-center mb-6">
          <div class="flex items-center">
           
            <span routerLink="payment" class="text-lg ml-2">Payment</span>
          </div>
        </li>
        <li class="flex w-full justify-between text-gray-300 hover:text-gray-400 cursor-pointer items-center mb-6">
          <div class="flex items-center">
            
            <span routerLink="coupons" class="text-lg ml-2">Coupons</span>
          </div>
        </li>
        <li class="flex w-full justify-between text-gray-300 hover:text-gray-400 cursor-pointer items-center">
          <div class="flex items-center">
            
            <span class="text-lg ml-2" (click)='_auth.logoutUser()'>Logout</span>
          </div>
        </li>
      </ul>
      
    </div>
    
  </div>



 
  <!-- Sidebar ends -->
  <!-- Remove class [ h-64 ] when adding a card block -->
  <div class="w-screen bg-white ">
    <!-- Remove class [ border-dashed border-2 border-gray-300 ] to remove dotted border -->
    <div>
       <router-outlet></router-outlet>
    </div>
  </div>
</div>
