<div class="container mt-5 mb-5">
    <h2>What <b>our customers</b> are saying</h2>
    <div class="row g-2">
        <div class="col-md-4">
            <div class="card p-3 text-center px-4">
                
                <div class="user-image">
                    
            <img src="https://i.imgur.com/PKHvlRS.jpg" class="rounded-circle" width="80"
                    >
                    
                </div>
                
                <div class="user-content">
                    
                    <h5 class="mb-0">Bruce Hardy</h5>
                    <span>Videographer</span>
                    <p>The service is impeccable, their communication was absolutely on point. I felt very reassured about knowing when, how and what time the equipment I was renting would be delivered.
                        </p>
                    
                </div>
                
                <div class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    
                </div>
                
            </div>
        </div>
        
        <div class="col-md-4">
            
            <div class="card p-3 text-center px-4">
                
                <div class="user-image">
                    
            <img src="https://i.imgur.com/w2CKRB9.jpg" class="rounded-circle" width="80"
                    >
                    
                </div>
                
                <div class="user-content">
                    
                    <h5 class="mb-0">Mark Smith</h5>
                    <span>Web Developer</span>
                    <p> I rented a high value lens and the process was excellent. 
                        My requests were dealt with quickly, process was clear and easy to follow
                        which made my first time rental experience run very smoothly.</p>
                    
                </div>
                
                <div class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    
                </div>
                
            </div>
            
        </div>
        
        <div class="col-md-4">
            
            <div class="card p-3 text-center px-4">
                
                <div class="user-image">
                    
            <img src="https://i.imgur.com/ACeArwY.jpg" class="rounded-circle" width="80"
                    >
                    
                </div>
                
                <div class="user-content">
                    
                    <h5 class="mb-0">Veera  Duncan</h5>
                    <span>Software Architect</span>
                    <p>Rented a lens for a recent job and couldn't be happier. 
                        Reasonable price, excellent service, extremely helpful and a very easy process.They maintain everything to a very high standard.Highly recommended!  </p>
                    
                </div>
                
                <div class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    
                </div>
                
            </div>
            
        </div>
        
        
    </div>

</div>
<br>
