*{
	color: var(--darkText);
}
h2 {
	color: var(--darkText);
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0 70px;
	font-family: 'Poppins', sans-serif!important;
	letter-spacing: 4px;
}
h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	border-radius: 1px;
	color: var(--darkText);
	left: 0;
	right: 0;
	bottom: -20px;
}
.card{
    background:white!important;
    border:none;
	height: 330px;
	
}

.user-content p{
    margin-top:5px;
    font-size:12px;

}

h2,h5,span{
	/* color:white; */
}
.ratings i{
    color:gold;
}
img{
	margin-left: auto;
	margin-right: auto;
}
.row {
	margin: 50px auto;
	padding: 0 70px;
}
