<div class="main">
    <div id="content">
    <div class="about-section paddingTB60 gray-bg">
    
        <div class="row">
            <div class="col-md-7 col-sm-6">
                <div class="about-title clearfix">
                    <h1>About <span>Camerent</span></h1><br>
                    <p>Camerent is a Premium Camera Rental Company which ships worldwide. The Company gives All kinds of Camera, lenses and Equipments that serves the photographers and filmmakers alike. Camerent provides Quality Equipment at affordable rates with easy Accessibility and 24/7 Availability.</p>
                    <p class="about-paddingB">Our team of expert photographers and videographers are here to ensure that you rent the right gear every time. We work meticulously to clean, inspect, test and prep every order so you have the right gear every time, with no surprises. Because that's exactly how we would want it if it was our shoot. </p>
                    
                </div>       
            </div>	
        
    </div>
</div>
          
    </div>                 
    </div>