
<div class="container-fluid footer-container nav-color" >

     <div class="container pt-4">
        <div class="row">
            <div class="col-6 col-lg-4 ">
                
                <div class="my-4 mx-auto ">
                    <h3 >Navbar</h3>
                    <ul class="navlist mt-4" >
                        
                        <li *ngFor="let i of footerNav" class="mt-3" style="list-style-type: none;">
                            <a routerLink="{{i.link}}">{{i.name}}</a>
                        </li>
                    </ul>
                </div>
                
            </div>
            <div class="col-6 col-lg-4">
                
                <div class="my-4">
                    <h3 >Category</h3>
                    <ul class="navlist mt-4" >
                        
                        <li *ngFor="let i of footerNav" class="mt-3" style="list-style-type: none;">
                            <a routerLink="{{i.link}}">{{i.name}}</a>
                        </li>
                    </ul>
                </div>
                
            </div>
            <div class="col-lg-4">
                <div class="w-100 h-100 py-4 rounded" >
                    <!-- <iframe class="rounded" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15718.716995724628!2d76.2360067173087!3d9.960621970414069!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b086d314f0b178d%3A0xc545233f390db43b!2sFort%20Kochi%2C%20Kochi%2C%20Kerala!5e0!3m2!1sen!2sin!4v1658849355050!5m2!1sen!2sin"  style="border:0;" height="100%" width="100%" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
                </div>
    
            </div>
            
        </div>
        
     </div>   
     <div class="row" >
        <div class="col-12 py-2 bg-slate-900 h-100 mt-4 copyright" >
            <a href=""><p class="text-center m-0" style="font-size:1em ;">Copyright@FSD-Batch5</p></a>
        </div>
    </div>
    
 
</div>

