
.footer-container{
    min-height: 320px;
    background:#3c3c42 !important;
}

.navlist{
    font-size: 13px;
    letter-spacing: 2px;
}
a:hover{
    text-decoration: none!important;
    color: rgb(197, 197, 197);
}
h3{
    font-size: 15px;
    color:aliceblue;
    font-family: 'Poppins', sans-serif;
}
p,a,ul,li{
    color:white;
    font-family: 'Poppins', sans-serif;
}
.copyright{
    background-color: var(--container-color);
}