<div class="container-xl">
	<div class="row">
		<div class="col-md-12">
			<h2><b>Shop Now</b></h2>
			<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
			<!-- Carousel indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>   
			<!-- Wrapper for carousel items -->
			<div class="carousel-inner">
				<div class="item carousel-item active">
					<div class="row">
						<ng-template ngFor let-products [ngForOf]="homeProduct" let-i="index">

							<div class="col-sm-3" *ngIf="i<4" >
								<div class="thumb-wrapper">
									<span class="wish-icon"><i class="fa fa-heart-o" #wish (click)="towish(wish)"></i></span>
									<div class="img-box">
										<img src="{{products.imagesUrl}}" class="img-fluid" alt="image">									
									</div>
									<div class="thumb-content">
										<h4>{{products.name}}</h4>									
										<div class="star-rating">
											<ul class="list-inline">
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
											</ul>
										</div>
										<p class="item-price"><b>{{products.price|currency:'INR':'symbol':'1.0-0'}}/day</b></p>
										<a (click)="goToPro(products._id)" class="btn btn-primary">Rent NOW</a>
									</div>						
								</div>
							</div>
						</ng-template>
						
					</div>
				</div>
				<div class="item carousel-item">
					<div class="row">
						<ng-template ngFor let-products [ngForOf]="homeProduct" let-i="index">

							<div class="col-sm-3" *ngIf="i>3&&i<8" >
								<div class="thumb-wrapper">
									<span class="wish-icon"><i class="fa fa-heart-o" #wish (click)="towish(wish)"></i></span>
									<div class="img-box">
										<img src="{{products.imagesUrl}}" class="img-fluid" alt="image">									
									</div>
									<div class="thumb-content">
										<h4>{{products.name}}</h4>									
										<div class="star-rating">
											<ul class="list-inline">
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
											</ul>
										</div>
										<p class="item-price"><b>{{products.price|currency:'INR':'symbol':'1.0-0'}}/day</b></p>
										<a (click)="goToPro(products._id)" class="btn btn-primary">Rent NOW</a>
									</div>						
								</div>
							</div>
						</ng-template>				
					</div>
				</div>
				<div class="item carousel-item">
					<div class="row">
						<ng-template ngFor let-products [ngForOf]="homeProduct" let-i="index">

							<div class="col-sm-3" *ngIf="i>7&&i<12" >
								<div class="thumb-wrapper">
									<span class="wish-icon"><i class="fa fa-heart-o" #wish (click)="towish(wish)"></i></span>
									<div class="img-box">
										<img src="{{products.imagesUrl}}" class="img-fluid" alt="image">									
									</div>
									<div class="thumb-content">
										<h4>{{products.name}}</h4>									
										<div class="star-rating">
											<ul class="list-inline">
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
											</ul>
										</div>
										<p class="item-price"><b>{{products.price|currency:'INR':'symbol':'1.0-0'}}/day</b></p>
										<a (click)="goToPro(products._id)" class="btn btn-primary">Rent NOW</a>
									</div>						
								</div>
							</div>
						</ng-template>	
						
					</div>
				</div>
			</div>
			<!-- Carousel controls -->
			<a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
				<i class="fa fa-angle-left"></i>
			</a>
			<a class="carousel-control-next" href="#myCarousel" data-slide="next">
				<i class="fa fa-angle-right"></i>
			</a>
		</div>
		</div>
	</div>
</div>

<!-- <script>
	$(document).ready(function(){
		$(".wish-icon i").click(function(){
			$(this).toggleClass("fa-heart fa-heart-o");
		});
	});	
	</script> -->