<div class="card my-2" style="width: 100%" >
  <span class="wish-icon"><i class="fa fa-heart-o" #wish (click)="towish(wish)"></i></span>
    <div (click)='cli()'>
      <img class="card-img-top" src="{{item.imagesUrl[0]}}" width="100%"
        style="object-fit:scale-down;padding:5px;height:180px;" alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title mb-0">{{item.name}}</h3>
        <p class="card-text">{{item.category}}</p>
        <div class="star-rating">
          <ul class="list-inline">
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
          </ul>
        </div>
        <h3 class="price mb-0 py-2">{{item.price | currency:'INR':'symbol':'1.0-0'}}/Day</h3>
      </div>
    </div>
    
</div>
