

<div class=" p-6  h-screen flex justify-evenly content-center bg-zinc-600">
  <form  [formGroup]="newData" (ngSubmit)="change()" class="text-slate-400 w-96 h-max pt-20">
    <div class="form-group mb-6">
        <label class="inline-block mb-2">Name</label>
        <app-input [control]="name" placeholder="{{userDetails.name}}"></app-input>

    </div>
    <div class="form-group mb-6">
       <label class="inline-block mb-2">Email</label>
        <app-input [control]="email" type="email" placeholder="{{userDetails.email}}"></app-input>
    </div>
    <div class="form-group mb-6">
      <label class="inline-block mb-2">Age</label>
          <app-input type="number" [control]="age" placeholder="{{userDetails.age}}"></app-input>
    </div>
     <div class="form-group mb-6">
      <label class="inline-block mb-2">Password</label>
      <app-input [control]="password" type="password" placeholder="Enter New Password?"></app-input>
    </div>
     <div class="form-group mb-6">
      <label class="inline-block mb-2">Phone Number</label>
              <app-input [control]="phoneNumber" format="0000000000" 
              placeholder="{{userDetails.phoneNumber}}"></app-input>
    </div>
    
    <button type="submit"
              class="block w-2/5 bg-indigo-400 text-white py-1.5 px-3 rounded transition
                hover:bg-indigo-500 disabled:opacity-50 disabled:bg-indigo-400"
              [disabled]="newData.invalid">
              Change Details
            </button>
  </form>
</div>
              